
	/* Album Stylesheet */
	
	a{
		text-decoration: none;
		background-color: #5a8;
	}
	a:hover{
		text-decoration: underline;
		background-color: #f67;
	}

	td {
		text-align: center;
		font-style: italic;
		/* this was messing with the striping background-color: #6df;*/
	}
	@font-face 
	{
		font-family: play;
		font-style: normal;
		font-weight: 400;
		src: url(https://fonts.gstatic.com/s/play/v7/ZNo-5SxCwH1CXgZ-n3bt2g.woff2);
	}
	.play {
		font-family: play;
	}
			
	li {
		font-style: italic;
	}