
	th {
		background-color: #888;
	}
	
	#results {
		padding-bottom: 40px;
		margin: 20px 500px;
	}
	
	table, th, td {
		border: 1px solid white;
		border-collapse: collapse
	}
	
	button {
		border: 1px solid black;
		padding: 15px 40px;
		margin-top: 20px;
	}