
	/* Restraunt header and footer */

	.headFoot {
		text-align: center;
	}
	
	a {
		padding-right: 20px;
	}
	
	a:visited{
		color: Green;
	}
	
	a:hover{
		font-weight: bold;
	}
	
	a:active{
		text-decoration: none;
	}
	
	@font-face{
		font-family: "chewy";
		font-style: normal;
		font-weight: 400;
		src: url(https://fonts.gstatic.com/s/chewy/v7/rb3O4cUMVLYzfgbaJOdJHw.woff2);
	}