
	/* Album Stylesheet */

	td {
		text-align: center;
	}
	@font-face 
	{
		font-family: play;
		font-style: normal;
		font-weight: 400;
		src: url(https://fonts.gstatic.com/s/play/v7/ZNo-5SxCwH1CXgZ-n3bt2g.woff2);
	}
	.play {
		font-family: play;
	}
			
	li {
		font-style: italic;
	}